
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
    <title>{% block page_title %}
    
        JIRA to Datadog Event Publisher
    
        {% endblock %}
    </title>
    {% assets "css_all" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" media="all">
    {% endassets %}
    {% block css %}{% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
{% block body %}
{% with form=form %}
{% include "nav.html" %}
{% endwith %}

<div id="page">
    <section id="content" role="main">
        <header class="aui-page-header">
            <div class="aui-page-header-inner">
                <div class="aui-page-header-main">
                    {% block page_header %}{% endblock %}
                </div>
            </div>
        </header>
        {% block page_nav %}{% endblock %}
        <div class="aui-page-panel">
            <div class="aui-page-panel-inner">
                <section class="aui-page-panel-content">
                    {% block content %}{% endblock %}
                </section>
            </div>
        </div>
    </section>
    <footer id="footer" role="contentinfo">
        <section class="footer-body">
            <ul>
                <li>
                     JIRA to Datadog Event Publisher {{ config['VERSION'] }}
                </li>
                <li>
                    <a href="#">Report a bug</a>
                </li>
                <li>
                    <a href="#">Documentation</a>
                </li>
            </ul>
            <div id="footer-logo"><a href="http://www.atlassian.com/" target="_blank">Atlassian</a></div>
        </section>
    </footer>
</div>

{% assets "js_all" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% block js %}{% endblock %}
{% endblock %}
</body>
</html>

