
    <header>
        <nav class="aui-header aui-dropdown2-trigger-group" role="navigation">
            <div class="aui-header-inner">
                <div class="aui-header-primary">
                    <h1 id="logo" class="aui-header-logo aui-header-logo-textonly">
                        <a href="#">
                            <span class="aui-header-logo-device">
                            
                                JIRA to Datadog Event Publisher
                            
                            </span>
                        </a>
                    </h1>
                    <ul class="aui-nav">
                        <li>
                            <a href="#">Link 1</a>
                        </li>
                        <li>
                            <a href="#">Link 2</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

